@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
  --card: #fafaf9;
  --card-foreground: #1c1917;
  --popover: #fcfcfc;
  --popover-foreground: #000000;
  --primary: #f6339a;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f4;
  --secondary-foreground: #1c1917;
  --muted: #f5f5f5;
  --muted-foreground: #525252;
  --accent: #fdf2f8;
  --accent-foreground: #f6339a;
  --destructive: #e54b4f;
  --destructive-foreground: #ffffff;
  --border: #e7e5e4;
  --input: #d6d3d1;
  --ring: #000000;
  --chart-1: #4ac885;
  --chart-2: #7033ff;
  --chart-3: #fd822b;
  --chart-4: #3276e4;
  --chart-5: #747474;
  --sidebar: #fafaf9;
  --sidebar-foreground: #1c1917;
  --sidebar-primary: #fce7f3;
  --sidebar-primary-foreground: #fafaf9;
  --sidebar-accent: #e7e5e4;
  --sidebar-accent-foreground: #1c1917;
  --sidebar-border: #e7e5e4;
  --sidebar-ring: #fdf2f8;
  --font-sans: Inter Tight, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.8rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 1.5px;
  --shadow-spread: -5px;
  --shadow-opacity: 0.06;
  --shadow-color: oklch(0.216 0.006 56.043);
  --shadow-2xs: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.03);
  --shadow-xs: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.03);
  --shadow-sm: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.06), 0px 1px 2px -6px hsl(23.9958 9.6112% 9.9910% / 0.06);
  --shadow: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.06), 0px 1px 2px -6px hsl(23.9958 9.6112% 9.9910% / 0.06);
  --shadow-md: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.06), 0px 2px 4px -6px hsl(23.9958 9.6112% 9.9910% / 0.06);
  --shadow-lg: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.06), 0px 4px 6px -6px hsl(23.9958 9.6112% 9.9910% / 0.06);
  --shadow-xl: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.06), 0px 8px 10px -6px hsl(23.9958 9.6112% 9.9910% / 0.06);
  --shadow-2xl: 0px 2px 1.5px -5px hsl(23.9958 9.6112% 9.9910% / 0.15);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1a1b1e;
  --foreground: #f0f0f0;
  --card: #222327;
  --card-foreground: #f0f0f0;
  --popover: #222327;
  --popover-foreground: #f0f0f0;
  --primary: #f6339a;
  --primary-foreground: #ffffff;
  --secondary: #292524;
  --secondary-foreground: #f0f0f0;
  --muted: #2a2c33;
  --muted-foreground: #a0a0a0;
  --accent: #1e293b;
  --accent-foreground: #79c0ff;
  --destructive: #fb2c36;
  --destructive-foreground: #ffffff;
  --border: #44403b;
  --input: #33353a;
  --ring: #8c5cff;
  --chart-1: #4ade80;
  --chart-2: #8c5cff;
  --chart-3: #fca5a5;
  --chart-4: #5993f4;
  --chart-5: #a0a0a0;
  --sidebar: #1c1917;
  --sidebar-foreground: #fafaf9;
  --sidebar-primary: #f6339a;
  --sidebar-primary-foreground: #fafaf9;
  --sidebar-accent: #44403b;
  --sidebar-accent-foreground: #fb64b6;
  --sidebar-border: #292524;
  --sidebar-ring: #fb64b6;
  --font-sans: Inter Tight, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.8rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 1.5px;
  --shadow-spread: -5px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.06), 0px 1px 2px -6px hsl(0 0% 0% / 0.06);
  --shadow: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.06), 0px 1px 2px -6px hsl(0 0% 0% / 0.06);
  --shadow-md: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.06), 0px 2px 4px -6px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.06), 0px 4px 6px -6px hsl(0 0% 0% / 0.06);
  --shadow-xl: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.06), 0px 8px 10px -6px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0px 2px 1.5px -5px hsl(0 0% 0% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
/* Component NumberFlow */
@layer utilities {
  .slide-in-up {
    animation: slideInUp 0.3s forwards;
  }

  .slide-out-up {
    animation: slideOutUp 0.3s forwards;
  }

  .slide-in-down {
    animation: slideInDown 0.3s forwards;
  }

  .slide-out-down {
    animation: slideOutDown 0.3s forwards;
  }

  @keyframes slideInUp {
    from {
      transform: translateY(50px);
      filter: blur(5px);
    }
    to {
      transform: translateY(0px);
      filter: blur(0px);
    }
  }

  @keyframes slideOutUp {
    from {
      transform: translateY(0px);
      filter: blur(0px);
    }
    to {
      transform: translateY(-50px);
      filter: blur(5px);
    }
  }

  @keyframes slideInDown {
    from {
      transform: translateY(-50px);
      filter: blur(5px);
    }
    to {
      transform: translateY(0px);
      filter: blur(0px);
    }
  }

  @keyframes slideOutDown {
    from {
      transform: translateY(0px);
      filter: blur(0px);
    }
    to {
      transform: translateY(50px);
      filter: blur(5px);
    }
  }
}

/* Component PowerOffSlide */
@layer utilities {
  .loading-shimmer {
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: loading-shimmer;
    background: var(--text-quaternary)
      gradient(
        linear,
        100% 0,
        0 0,
        from(var(--text-quaternary)),
        color-stop(0.5, var(--text-primary)),
        to(var(--text-quaternary))
      );
    background: var(--text-quaternary) -webkit-gradient(
        linear,
        100% 0,
        0 0,
        from(var(--text-quaternary)),
        color-stop(0.5, var(--text-primary)),
        to(var(--text-quaternary))
      );
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 50% 200%;
    display: inline-block;
  }

  .loading-shimmer {
    background-position: -100% top;
  }
  .loading-shimmer:hover {
    -webkit-text-fill-color: var(--text-quaternary);
    animation: none;
    background: transparent;
  }

  @keyframes loading-shimmer {
    0% {
      background-position: -100% top;
    }

    to {
      background-position: 250% top;
    }
  }
}

/* Component AppleInvites */
@layer utilities {
  .gradient-mask-t-0 {
    -webkit-mask-image: linear-gradient(#0000, #000);
    mask-image: linear-gradient(#0000, #000);
  }
}

/* Loader animations */
@layer utilities {
  @keyframes loading-dots {
    0%, 20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    80%, 100% {
      opacity: 0;
    }
  }

  @keyframes bounce-dots {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }

  @keyframes typing {
    0%, 60%, 100% {
      transform: translateY(0px);
    }
    30% {
      transform: translateY(-10px);
    }
  }

  @keyframes wave {
    0%, 40%, 100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }

  @keyframes wave-bars {
    0%, 40%, 100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }

  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }

  @keyframes text-blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0.3;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  @keyframes spinner-fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }

  @keyframes thin-pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  @keyframes pulse-dot {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}